<div class="propCont propCent">
    <p-table [value]="quiz">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    number
                </th>
                <th>
                    content
                </th>
                <th>
                    choice type
                </th>
                <th>
                    time limit
                </th>
                <th>
                    choice amount
                </th>
                <th>

                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quiz let-rowIndex="rowIndex">
            <tr *ngIf="quiz.choice_amount == 0; else next" [routerLink]="['/props/' + this.id +  '/createQuiz/' + rowIndex]" class="tableList">
                <td>
                    {{ rowIndex + 1 }}
                </td>
                <td>
                    {{ quiz.content }}
                </td>
                <td>
                    {{ quiz.choice_type }}
                </td>
                <td>
                    {{ quiz.time_limit}}
                </td>
                <td>
                    {{ quiz.choice_amount }}
                </td>
                <td>
                    <button style="width: 40%; margin-right: 10px;" pButton type="button" pButton icon="pi pi-pencil"
                        iconPos="left" [routerLink]="['/props/'+this.id+'/editQuiz/'+rowIndex]"></button>
                    <button style="width: 40%;" type="button" pButton icon="pi pi-trash" iconPos="left"
                        (click)="DeleteQuiz(rowIndex)"></button>
                </td>
            </tr>
        <ng-template #next>
            <tr [routerLink]="['/props/' + this.id +  '/quizs/' + rowIndex + '/choice/']" class="tableList">
                <td>
                    {{ rowIndex + 1 }}
                </td>
                <td>
                    {{ quiz.content }}
                </td>
                <td>
                    {{ quiz.choice_type }}
                </td>
                <td>
                    {{ quiz.time_limit}}
                </td>
                <td>
                    {{ quiz.choice_amount }}
                </td>
                <td>
                    <button style="width: 40%; margin-right: 10px;" pButton type="button" pButton icon="pi pi-pencil"
                        iconPos="left" [routerLink]="['/props/'+this.id+'/editQuiz/'+rowIndex]"></button>
                    <button style="width: 40%;" type="button" pButton icon="pi pi-trash" iconPos="left"
                        (click)="DeleteQuiz(rowIndex)"></button>
                </td>
            </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <!-- <button class="loginBtn" style="width: 100%; margin-top: 20px;" pButton type="button" type="submit"
        label="Create proposition" [routerLink]="['/createProp']"></button> -->
</div>