<div class="propCont propCent">
    <p-table [value]="quiz">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    number
                </th>
                <th>
                    content
                </th>
                <th>
                    choice type
                </th>
                <th>
                    time limit
                </th>
                <th>
                    choice amount
                </th>
                <th>
                    quiz score
                </th>
                <th>

                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quiz let-rowIndex="rowIndex">
            <tr *ngIf="quiz.content === undefined || quiz.content === ''; else next"
                class="tableList">
                <td [routerLink]="['/props/' + this.id +  '/createQuiz/' + rowIndex]" >
                    {{ rowIndex + 1 }}
                </td>
                <td [routerLink]="['/props/' + this.id +  '/createQuiz/' + rowIndex]" >
                    {{ quiz.content }}
                </td>
                <td [routerLink]="['/props/' + this.id +  '/createQuiz/' + rowIndex]" >
                    {{ quiz.choice_type }}
                </td>
                <td [routerLink]="['/props/' + this.id +  '/createQuiz/' + rowIndex]" >
                    {{ quiz.time_limit}}
                </td>
                <td [routerLink]="['/props/' + this.id +  '/createQuiz/' + rowIndex]" >
                    {{ quiz.choice_amount }}
                </td>
                <td [routerLink]="['/props/' + this.id +  '/createQuiz/' + rowIndex]" >
                    {{ quiz.score }}
                </td>
                <td>
                    <button *ngIf="quiz.content === undefined || quiz.content !== ''; else elseBtn"
                        style="width: 40%; margin-right: 10px;" pButton type="button" pButton icon="pi pi-pencil"
                        iconPos="left" [routerLink]="['/props/'+this.id+'/editQuiz/'+rowIndex]"></button>
                    <ng-template #elseBtn>
                        <button style="width: 40%; margin-right: 10px;" disabled="true" pButton type="button" pButton
                            icon="pi pi-pencil" iconPos="left"
                            [routerLink]="['/props/'+this.id+'/editQuiz/'+rowIndex]"></button>
                    </ng-template>
                    <button style="width: 40%;" type="button" pButton icon="pi pi-trash" iconPos="left"
                        (click)="DeleteQuiz(rowIndex)"></button>
                </td>
            </tr>
            <ng-template #next>
                <tr class="tableList">
                    <td [routerLink]="['/props/' + this.id +  '/quizs/' + rowIndex + '/choice/']">
                        {{ rowIndex + 1 }}
                    </td>
                    <td [routerLink]="['/props/' + this.id +  '/quizs/' + rowIndex + '/choice/']">
                        {{ quiz.content }}
                    </td>
                    <td [routerLink]="['/props/' + this.id +  '/quizs/' + rowIndex + '/choice/']">
                        {{ quiz.choice_type }}
                    </td>
                    <td [routerLink]="['/props/' + this.id +  '/quizs/' + rowIndex + '/choice/']">
                        {{ quiz.time_limit}}
                    </td>
                    <td [routerLink]="['/props/' + this.id +  '/quizs/' + rowIndex + '/choice/']">
                        {{ quiz.choice_amount }}
                    </td>
                    <td [routerLink]="['/props/' + this.id +  '/quizs/' + rowIndex + '/choice/']">
                        {{ quiz.score }}
                    </td>
                    <td>
                        <button *ngIf="quiz.content === undefined || quiz.content !== ''; else elseBtn"
                            style="width: 40%; margin-right: 10px;" pButton type="button" pButton icon="pi pi-pencil"
                            iconPos="left" [routerLink]="['/props/'+this.id+'/editQuiz/'+rowIndex]"></button>
                        <ng-template #elseBtn>
                            <button style="width: 40%; margin-right: 10px;" disabled="true" pButton type="button"
                                pButton icon="pi pi-pencil" iconPos="left"
                                [routerLink]="['/props/'+this.id+'/editQuiz/'+rowIndex]"></button>
                        </ng-template>
                        <button style="width: 40%;" type="button" pButton icon="pi pi-trash" iconPos="left"
                            (click)="DeleteQuiz(rowIndex)"></button>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <button class="loginBtn" style="width: 100%; margin-top: 20px;" pButton type="button" label="Add quiz"
        (click)="AddQuiz()"></button>
    <p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" header="Confirmation"
        icon="pi pi-exclamation-triangle"></p-confirmDialog>

    <!-- <button class="loginBtn" style="width: 100%; margin-top: 20px;" pButton type="button" type="submit"
        label="Create proposition" [routerLink]="['/createProp']"></button> -->
</div>