<div class="grid">
    <div class="container">
        <form #loginForm="ngForm">
            <!-- {{loginForm.value | json}} -->
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <span class="p-float-label">
                                <input placeholder="Please enter your proposition name." [(ngModel)]="propNameInput"
                                    name="propNameInput" type="text" pInputText>
                                <label for="inputtext">Proposition name</label>
                            </span>
                            <!-- <input [(ngModel)]="propNameInput" name="propNameInput" type="text" pInputText
                                placeholder="Please enter your proposition name."> -->
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6 center">
                    <!-- <h1 style="margin-top: 50px;">- Online proposition generateror</h1>
                    <h1>- Register page</h1> -->
                </div>
            </div>
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <span class="p-float-label">
                                <p-inputNumber [(ngModel)]="maxScoreInput" name="maxScoreInput" [minFractionDigits]="1"
                                    suffix=" points" placeholder="0 points"></p-inputNumber>
                                <label for="inputtext">Please enter your proposition max score.</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6 center">
                    <h1 style="margin-top: 50px;">- Online proposition generateror</h1>
                    <h1>- Create propositionpage</h1>
                </div>
            </div>
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <span class="p-float-label">
                                <p-inputNumber [(ngModel)]="timeLimitInput" name="timeLimitInput" [minFractionDigits]="1"
                                    suffix=" seconds" placeholder="0 seconds"></p-inputNumber>
                                <label for="inputtext">Please enter your proposition time limit.</label>
                            </span>
                        </div>
                        <!-- <label class="loginLabel">Password:</label>
                        <input type="password" [(ngModel)]="password" name="password" pInputText placeholder="Please enter your password." class="form-control loginInput"> -->
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6">

                </div>
            </div>

            <div class="grid" style="margin-top: 60px;">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span style="width: 180px" class="p-inputgroup-addon">Start date</span>
                            <p-calendar [(ngModel)]="startDateInput" [showTime]="true"
                                [ngModelOptions]="{standalone: true}" [inline]="true" (onSelect)="Selected()"
                                [hourFormat]="'12'" [style]="{'width':'100%'}"></p-calendar>
                        </div>

                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6">

                </div>
            </div>

            <div class="gird">
                <div class="col-5">
                    <h3>Allow students to view their grades.</h3>
                    <p-selectButton [options]="gfg" [(ngModel)]="enableScoreInput" name="enableScoreInput"></p-selectButton>
                </div>
                <div class="col-1">
    
                </div>
                <div class="col-6">
                    
                </div>
            </div>

            <div class="grid">
                <div class="col-6">
                    <div class="form-group centerBtn">
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Cancel"
                            [routerLink]="['/props']"></button>
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Edit"
                            (click)="EditProp()"></button>
                    </div>
                </div>
                <div class="col-6">

                </div>
            </div>
        </form>
    </div>
</div>