<div class="grid">
    <div class="container">
        <form #loginForm="ngForm">
            <!-- {{loginForm.value | json}} -->
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <span class="p-float-label">
                                <input
                                    [style.borderColor]="this.choiceContentform.touched && this.choiceContentform.invalid ? '#e24c4c' : '#d8dce1'"
                                    [formControl]="choiceContentform" [(ngModel)]="choiceContentInput"
                                    name="choiceContentInput" type="text" pInputText
                                    placeholder="Please enter your choice content.">
                                <label
                                    [style.color]="this.choiceContentform.touched && this.choiceContentform.invalid ? '#e24c4c' : '#6c757d'">Please
                                    Please enter your choice content.</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6 center">
                    <!-- <h1 style="margin-top: 50px;">- Online proposition generateror</h1>
                    <h1>- Register page</h1> -->
                </div>
            </div>
            <p-selectButton [options]="gfg" [(ngModel)]="choiceCorrectInput" name="choiceCorrectInput"></p-selectButton>
            <div class="grid">
                <div class="col-6">
                    <div class="form-group centerBtn">
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Cancel"
                            [routerLink]="['/props/' + this.pid + '/quizs/' + this.qid + '/choice' ]"></button>
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Create"
                            [disabled]="invalid()" (click)="CreateChoice()"></button>
                    </div>
                </div>
                <div class="col-6">

                </div>
            </div>
        </form>
    </div>
</div>