<div class="propCont propCent">
  <div *ngIf="profileJson?.account_type == true; else student">
    <p-table [value]="proposition">
      <ng-template pTemplate="header">
        <tr>
          <th>
            proposition name
          </th>
          <th>
            max score
          </th>
          <th>
            time limit
          </th>
          <th>
            quiz amount
          </th>
          <th>
            start date
          </th>
          <!-- <th>
            end date
          </th> -->
          <th>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prop let-rowIndex="rowIndex">
        <tr class="tableList">
          <td [routerLink]="['/props/' + rowIndex +  '/quizs']">
            {{ prop.prop_name }}
          </td>
          <td [ngStyle]="{'color': (scoreIsOver(rowIndex)) ? '#73c7af' : '#F74242'}" [routerLink]="['/props/' + rowIndex +  '/quizs']">
            {{ prop.max_score }}
          </td>
          <td [ngStyle]="{'color': (timeIsOver(rowIndex)) ? '#73c7af' : '#F74242'}" [routerLink]="['/props/' + rowIndex +  '/quizs']">
            {{ prop.prop_time | timeConvertor}} hours
          </td>
          <td [routerLink]="['/props/' + rowIndex +  '/quizs']">
            {{ prop.quiz_amount }}
          </td>
          <td [ngStyle]="{'color': (dateIsOver(rowIndex)) ? '#73c7af' : '#F74242'}" [routerLink]="['/props/' + rowIndex +  '/quizs']">
            {{ prop.start_date | date :'medium' }}
          </td>
          <!-- <td>
            {{ DateAdder(prop.start_date, prop.prop_time) | date : 'medium'  }}
          </td> -->

          <td>
            <button style="width: 25%; margin-right: 10px;" pButton type="button" pButton icon="pi pi-eye"
              iconPos="left" [routerLink]="['/props/preview/'+rowIndex]"></button>
            <button style="width: 25%; margin-right: 10px;" pButton type="button" pButton icon="pi pi-pencil"
              iconPos="left" [routerLink]="['/editProp/'+rowIndex]"></button>
              <button style="width: 25%;" type="button" pButton icon="pi pi-trash" iconPos="left"
              (click)="DeleteProp(rowIndex)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button class="loginBtn" style="width: 100%; margin-top: 20px;" pButton type="button" type="submit"
      label="Create proposition" [routerLink]="['/createProp']"></button>
  </div>
  
  <!--------------------------------- Student proplist ----------------------------------->
  <ng-template #student>
    <p-table [value]="proposition">
      <ng-template pTemplate="header">
        <tr>
          <th>
            proposition name
          </th>
          <th>
            max score
          </th>
          <th>
            time limit
          </th>
          <th>
            quiz amount
          </th>
          <th>
            start date
          </th>
          <th>
            end date
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prop let-rowIndex="rowIndex">
        <tr class="tableList" [routerLink]="['/props/' + rowIndex]">
          <td>
            {{ prop.prop_name }}
          </td>
          <td>
            {{ prop.max_score }}
          </td>
          <td>
            {{ prop.prop_time | timeConvertor }} hours
          </td>
          <td>
            {{ prop.quiz_amount }}
          </td>
          <td>
            {{ prop.start_date | date :'medium' }}
          </td>
          <td>
            {{ DateAdder(prop.start_date, prop.prop_time) | date : 'medium' }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- <button class="loginBtn" style="width: 100%; margin-top: 20px;" pButton type="button" type="submit"
      label="Create proposition" [routerLink]="['/createProp']"></button> -->
  </ng-template>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>


</div>