<div class="grid">
    <div class="container">
        <form #loginForm="ngForm">
            <!-- {{loginForm.value | json}} -->
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input [(ngModel)]="choiceContentInput" name="choiceContentInput" type="text" pInputText
                                placeholder="Please enter your choice content.">
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6 center">

                </div>
            </div>
            <p-selectButton [options]="gfg" [(ngModel)]="choiceCorrectInput" name="choiceCorrectInput"></p-selectButton>
            <div class="grid">
                <div class="col-6">
                    <div class="form-group centerBtn">
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Cancel"
                            [routerLink]="['/props/' + this.pid + '/quizs/' + this.qid + '/choice' ]"></button>
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Edit"
                            (click)="CreateChoice()"></button>
                    </div>
                </div>
                <div class="col-6">

                </div>
            </div>
        </form>
    </div>
</div>