<div class="quiz-container center">
    <div class="quiz-header">
        <label class="quiz-header-content">{{ quizs[first].content }}</label>
    </div>
    <div class="quiz-content" *ngFor="let choice of quizs[first].choice; let i = index">
        <p-toggleButton [style]="{'width': '100%', 'height': '100px'}" (click)="Select(first, i)" onLabel="{{ choice.content }}" offLabel="{{ choice.content }}"
         onIcon="pi pi-check" offIcon="pi pi-times"></p-toggleButton>
    </div>
</div>
<div class="grid align-items-center">
    <div class="col-1">
        <p-button icon="pi pi-refresh" (onClick)="refresh()"></p-button>
    </div>
    <div class="col-10">
        <p-paginator [first]="first" [rows]="1" [totalRecords]="totalRecords2" (onPageChange)="onPageChange($event)"
            [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
    </div>
    <div class="col-1 grid justify-content-end">
        <!-- <p-button icon="pi pi-search"></p-button> -->
    </div>
</div>