<div class="grid">
    <div class="container">
        <form #loginForm="ngForm">
            <!-- {{loginForm.value | json}} -->
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <span class="p-float-label">
                                <input
                                    [style.borderColor]="this.quizContentform.touched && this.quizContentform.invalid ? '#e24c4c' : '#d8dce1'"
                                    [formControl]="quizContentform" [(ngModel)]="quizContentInput"
                                    name="quizContentInput" type="text" pInputText placeholder="quiz content">
                                <label
                                    [style.color]="this.quizContentform.touched && this.quizContentform.invalid ? '#e24c4c' : '#6c757d'">Please
                                    Please enter your quiz content.</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6 center">
                    <!-- <h1 style="margin-top: 50px;">- Online proposition generateror</h1>
                    <h1>- Register page</h1> -->
                </div>
            </div>
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <span class="p-float-label">
                                <p-inputNumber
                                    [style.borderColor]="this.choiceTypeForm.touched && this.choiceTypeForm.invalid ? '#e24c4c' : '#d8dce1'"
                                    [formControl]="choiceTypeForm" [(ngModel)]="choiceTypeInput" name="choiceTypeInput"
                                    [minFractionDigits]="1" suffix=" answers" placeholder="0 answer"></p-inputNumber>
                                <label
                                    [style.color]="this.choiceTypeForm.touched && this.choiceTypeForm.invalid ? '#e24c4c' : '#6c757d'">Please
                                    Please enter your chocie type.</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6 center">
                    <h1 style="margin-top: 50px;">- Online proposition generateror</h1>
                    <h1>- Create propositionpage</h1>
                </div>
            </div>
            <div class="grid">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <span class="p-float-label">
                                <p-inputNumber
                                    [style.borderColor]="this.quizLimitForm.touched && this.quizLimitForm.invalid ? '#e24c4c' : '#d8dce1'"
                                    [formControl]="quizLimitForm" [(ngModel)]="timeLimitInput" name="timeLimitInput"
                                    [minFractionDigits]="1" suffix=" second" placeholder="0 second"></p-inputNumber>
                                <label
                                    [style.color]="this.quizLimitForm.touched && this.quizLimitForm.invalid ? '#e24c4c' : '#6c757d'">Please
                                    Please enter your quiz time limit.</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6">

                </div>
            </div>

            <div class="grid loginGrid" style="margin-top: 60px;">
                <div class="col-5 center">
                    <div class="form-group ">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <span class="p-float-label">
                                <p-inputNumber
                                    [style.borderColor]="this.quizScoreForm.touched && this.quizScoreForm.invalid ? '#e24c4c' : '#d8dce1'"
                                    [formControl]="quizScoreForm" [(ngModel)]="scoreInput" name="scoreInput"
                                    [minFractionDigits]="1" suffix=" points" placeholder="0 point"></p-inputNumber>
                                <label
                                    [style.color]="this.quizScoreForm.touched && this.quizScoreForm.invalid ? '#e24c4c' : '#6c757d'">Please
                                    Please enter your quiz score.</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
                <div class="col-6">

                </div>
            </div>

            <div class="grid">
                <div class="col-6">
                    <div class="form-group centerBtn">
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Cancel"
                            [routerLink]="['/props/' + this.pid + '/quizs']"></button>
                        <button class="loginBtn" style="margin: 20px;" pButton type="button" label="Edit"
                            [disabled]="invalid()" (click)="EditQuiz()"></button>
                    </div>
                </div>
                <div class="col-6">

                </div>
            </div>
        </form>
    </div>
</div>