<p-menubar [model]="items">
    <ng-template pTemplate="end">
        <h3 *ngIf="auth.isAuthenticated$ | async">User : {{ profileJson.email }}</h3>
        <app-logout-button *ngIf="auth.isAuthenticated$ | async"></app-logout-button>
    </ng-template>
</p-menubar>

    <!-- <p-menubar [model]="items" *ngIf="profileJson.account_type == false;">
        <ng-template pTemplate="end">
            <h3 *ngIf="auth.isAuthenticated$ | async">User : {{ profileJson.email }}</h3>
            <app-logout-button *ngIf="auth.isAuthenticated$ | async"></app-logout-button>
        </ng-template>
    </p-menubar>

    <p-menubar [model]="items" *ngIf="profileJson == undefined;" >
        <ng-template pTemplate="end">
            <app-logout-button *ngIf="auth.isAuthenticated$ | async"></app-logout-button>
        </ng-template>
    </p-menubar> -->
