/* You can add global styles to this file, and also import other style files */
.container {
    //  margin: 100px;
    padding-left: 100px;
    padding-left: 100px;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.propCont {
    //  margin: 100px;
    padding-left: 50px;
    padding-left: 50px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.propCent{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    padding: 10px;
}

.loginInput {
    // position: absolute;
    // left: 270px;
    top: 2px;
    width: 600px;
}

.loginLabel {
    font-size: 30px;
    font-weight: 200;
    margin-right: 50px;
    height: 90px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.col-6{
    position: relative;
}

.loginBtn {
    width: 37%;
    padding: 10px;
}

.centerBtn{
    // margin: auto;
    width: 100%;
    margin-top: 50px;
}

.loginGrid{
    margin-top: 20px;
}
